# trash left by macOS Finder
*.DS_Store

# ignore swap files
*.sw*
~*

# trash left by KDE dolphin
.directory

# files left by idea
.idea/
*.iml

# ignore the node_modules directory
node_modules/
web/node_modules/
